* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  letter-spacing: 1px;
  padding: 10px;
}

h1 {
  text-align: center;
  font-size: 30px;
}

h1,
.main-content {
  margin-bottom: 20px;
}

.active {
  font-weight: 600;
  color: #0e7bf1;
}

.errorMsg {
  color: #f21e08;
  background: #fff0f0;
  padding: 1rem;
}

.header {
  margin-bottom: 20px;

  nav {
    display: flex;
    justify-content: flex-start;

    a {
      margin: 10px;
    }
  }
}

.upload-section {
  display: flex;
  height: 200px;
  margin-bottom: 10px;

  & > div {
    width: 50%;
  }
}

.drop-zone {
  margin-bottom: 10px;
  padding: 40px 10px;
  height: inherit;
  border: 2px dashed #e9ebeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.image-preview {
  height: inherit;
  margin-left: 5%;
}

.preview-image {
  width: 20%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

.preview-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}

.files-container {
  width: 98%;
  overflow-x: auto;
}

.files-table {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;

  tr,
  td,
  th {
    border: 1px solid #ccc;
    padding: 10px;
  }

  .file-title {
    width: 60%;
  }

  .file-description {
    width: 20%;
  }
  .file-download {
    width: 20%;
    cursor: pointer;
    color: #0e7bf1;
    &:hover {
      text-decoration: underline;
      color: #0e7bf1;
    }
  }
}
.upload-submit-button {
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: -20px;
}
.toast-file-upload {
  position: absolute;
  bottom: 0;
  left: 5;
}

@media screen and (max-width: 1000px) {
  .upload-section {
    flex-direction: column;

    & > div {
      width: 100%;
    }
  }
  .image-preview {
    margin-left: 0;
    height: 300px;
  }
  .upload-section {
    height: unset;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 25px;
  }
  .drop-zone {
    width: 100%;
  }
}
.course-cell {
  
  .teacher-name-clickable {
    color: #0e7bf1;
    margin-right: 15px;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  .course-teachers-names {
    display: flex;
  }
  .course-title {
    margin-bottom: 5%;
    font-weight: 600;
    font-size: large;
  }
}


////// Courses

.CourseTitle{
  border: 1px solid rgb(195, 211, 255);
  cursor: pointer;
  margin-left: 10px;
}

.CourseSubmittedHomeWork{
  border: 2px solid rgb(137, 247, 134);
  cursor: pointer;

}
.CourseNotSubmittedHomeWork{
  border: 2px solid rgb(248, 146, 146);
  cursor: pointer;

}


///////// CourseCell

.Container{
  border: 1px solid rgb(195, 211, 255);
  cursor: pointer;

}
.Container:hover{
  border: 1px solid rgb(195, 211, 255);
  cursor: pointer;
}

.ContainerOnHover{
  border: 2px solid rgb(62, 107, 231);
}


////// Homework

.HomeWorkNotUploaded{
  border: 2px solid rgb(137, 247, 134);
}

//////// Navbar

.myNavBar{
  background-color: white;
}

/////// SpecificHomeWork

.HomeWorkContent{
  font-size: 25px;
border: 1px solid #bebebe;
  background-color: #e9e9e9;
}
.HomeWorkContent2{
  font-size: 25px;
border: 1px solid #bebebe;
  background-color: #ffffff;
}
.HomeWorkContent3{
border: 1px solid #bebebe;
  background-color: #ffffff;
  color:rgb(0, 38, 255);
}
.Comment-style{
  width: auto;
border: 1px solid #8dffaf;
padding: 5px;
}
.Container-Style{
  width: 1000px;  
  margin-left: 0;
}
.Grade-Style{
  width: 50px;
  border: 2px solid #000000;
  text-align: center;
  color:rgb(0, 38, 255);
}
.Button-Style{
  position: absolute;
  margin-right: 10px;
}


/// Login

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}